microsoft-edge
dconf
htop
kde.org
obsidian
dolphinrc
kiorc
pavucontrol.ini
pulse
mako
yay
google-chrome
lazygit
Code
qmk
simple-update-notifier
images
session
nextjs-nodejs
create-next-app-nodejs

user-dirs.dirs
user-dirs.locale
